@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    text-decoration: none;
}

:root {
    /* Primary */
    --pink: hsl(322, 100%, 66%);
    --Light-Pink: hsl(321, 100%, 78%);
    --Light-Red: hsl(0, 100%, 63%);
    /* Neutral */
    --Very-Dark-Cyan: hsl(192, 100%, 9%);
    --Very-Pale-Blue: hsl(207, 100%, 98%);
    /* Typography */
    --cabecalho: 'Poppins';
    --corpo: 'Open Sans';
}
/* INICIO: Estilizações para toda a página */
body {
    font-family: var(--corpo);
}

.texto {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.subtitulos {
    margin-bottom: 20px;
    font-family: var(--cabecalho);
}

.paragrafo {
    color: var(--Very-Dark-Cyan);
    font-weight: 600;
}

.illustrations {
    width: calc(100vw - 70%);
}
/*FIM: Estilizações para toda a página*/

.secoes--pale-blue {
    background-color: var(--Very-Pale-Blue);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    margin: 15em 0;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3em 4em 0;
    margin-bottom: 10em;
}

.cabecalho_logo {
    width: calc(100vw - 95%);
}

.cabecalho_button {
    color: var(--pink);
    border: 2px solid var(--pink);
    border-radius: 20px;
    padding: 8px 20px;
    box-shadow: 1px 1px 6px hsl(321deg 100% 78% / 45%);
}

.cabecalho_button:active {
    color: var(--Light-Pink);
    border: 2px solid var(--Light-Pink);
}

.call-to-action {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.call-to-action_titulo {
    font-family: var(--cabecalho);
    font-weight: 700;
    font-size: 3.5vw;
}

.call-to-action_paragrafo {
    width: 500px;
    text-align: center;
    margin: 1em 0 2.5em;
}

.call-to-action .button-pink, 
.ready-to-build .button-pink {
    text-align: center;
    width: 20em;
    border-radius: 40px;
    border-color: var(--pink);
    color: white;
    background-color: var(--pink);
    padding: 20px 20px;
    margin-bottom: 8em;
    font-weight: 700;
    font-family: var(--corpo);
    box-shadow: 1px 4px 4px 1px hsl(0deg 0% 0% / 28%);
}

.call-to-action .button-pink:active, 
.ready-to-build .button-pink:active {
    background-color: var(--Light-Pink);
}

.call-to-action_imagem {
    margin-bottom: 5em;
    width: 80%;
}

.call-to-action_engajamento {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.call-to-action_engajamento .communities-formed, .messages-sent {
    display: flex;
    flex-direction: column;
}

.call-to-action_engajamento .engagement-icon {
    width: 2em;
}

.call-to-action_engajamento .number_engagement {
    font-size: 3.5em;
    font-weight: 700;
}

.call-to-action_engajamento .descricao_number {
    text-align: center;
}

.img_top-grow {
    background-image: url('../images/bg-section-top-desktop-1.svg');
    background-repeat: no-repeat;
}

.img_top-your {
    background-image: url('../images/bg-section-top-desktop-2.svg');
    background-repeat: no-repeat;
}

.img_top {
    width: 100%;
    height: 40%;
    position: absolute;
    left: 0%;
    bottom: 100%;
    background-size: cover;
}

.img_bottom-grow {
    background-image: url('../images/bg-section-bottom-desktop-1.svg');
    background-repeat: no-repeat;
}

.img_bottom-your {
    background-image: url('../images/bg-section-bottom-desktop-2.svg');
    background-repeat: no-repeat;
}

.img_bottom {
    width: 100%;
    height: 70%;
    position: absolute;
    left: 0%;
    top: 100%;
}

.flowing-conversation {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.ready-to-build {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ready-to-build_titulo {
    font-family: var(--cabecalho);
    font-weight: 700;
    margin-bottom: 20px;
}

.rodape {
    background-color: var(--Very-Dark-Cyan);
    position: relative;
    display: flex;
    margin-top: 10%;
    padding-top: 5em;
    flex-direction: column;
}

.rodape .img_top {
    background-image: url('../images/bg-footer-top-desktop.svg');
    background-repeat: no-repeat;
    background-size: auto;
    position: absolute;
    width: 100%;
    height: 40%;
    left: 0%;
    bottom: 95%;
}

.rodape .informacoes {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.rodape_logo, 
.newsletter_titulo {
    margin-bottom: 15px;
}

.rodape_logo {
   display: flex;
   align-items: flex-end;
}

.rodape_logo .icon_messages {
    width: 20%;
    height: 10%;
    margin-right: 5px;
}

.rodape_logo .rodape_titulo {
    font-size: 2.5em;
    font-weight: bold;
    color: var(--Very-Pale-Blue);
}

.informacoes_paragrafo {
    margin-bottom: 20px;
}

.rodape_paragrafo {
    font-family: var(--corpo);
    font-size: .7em;
    font-weight: 700;
    color: var(--Very-Pale-Blue);
    line-height: 20px;
}

.rodape_contatos {
    margin-bottom: 50px;
}

.rodape_contatos .contato {
    display: flex;
    margin-bottom: 15px;
    align-items: center;
    color: var(--Very-Pale-Blue);
}

.rodape_contatos .contato img {
    margin-right: 15px;
}

.rodape_redes-sociais {
    display: flex;
    width: 100%;
}

.rodape_redes-sociais .fa-brands{
    color: white;
    margin-right: 20px;
    font-size: 2em;
    cursor: pointer;
}

.rodape_redes-sociais .fa-twitter-square:active {
    color:#00acee;
}

.newsletter {
    width: 50%;
    padding: 12px;
}

.newsletter .newsletter_titulo {
    text-transform: uppercase;
    color: var(--Very-Pale-Blue);
    font-family: var(--cabecalho);
    font-weight: 700;
}

.newsletter .newsletter_paragrafo {
    margin-bottom: 35px;
}

.newsletter_form .email {
    padding: 13px;
    width: 300px;
    border-radius: 8px;
    margin-right: 25px;
}

.newsletter_form .email:invalid {
    border: 1px solid var(--Light-Red);
}

.newsletter_form .newsletter_botao {
    background-color: var(--pink);
    color: white;
    border: none;
    border-radius: 4px;
    padding: 13px;
    width: 20%;
    cursor: pointer;
}

.newsletter_form .newsletter_botao:active {
    background-color: var(--Light-Pink);
}

.rodape .attribution {
    font-size: 13px;
    color: white;
    text-align: center;
    margin: 3em 0 1em;
  }

.rodape .attribution a {
    color: var(--pink);
}

@media screen and (min-width: 769px) and (max-width: 1050px) {
    .texto {
        font-size: small;
    }

    .newsletter .newsletter_form {
        display: flex;
        flex-direction: column;
        width: 300px;
    }

    .newsletter_form .email {
        width: 100%;
        margin-bottom: 12px;
    }

    .newsletter .newsletter_botao {
        align-self: flex-end;
        width: 40%;
    }
}

@media screen and (max-width: 768px) {
    .cabecalho {
        padding: 2em;
        justify-content: space-between;
        align-items: center;
    }

    .cabecalho_logo {
        width: calc(100vw - 90%);
    }

    .cabecalho_button {
        padding: 5px;
        width: calc(100vw - 70%);
        text-align: center;
    }

    .call-to-action_titulo {
        font-size: 7vw;
        text-align: center;
        padding: 0 .8em;
    }

    .call-to-action_paragrafo {
        margin: 1em 0 2.5em;
        font-size: 1.1em;
        width: 92%;
    }

    .call-to-action_imagem {
        width: 90%;
    }

    .call-to-action_engajamento {
        flex-direction: column;
        align-items: center;
    }

    .call-to-action_engajamento .communities-formed {
        margin-bottom: 7em;
    }

    .grow-together,
    .your-users {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 70%;
    }

    .flowing-conversation {
        display: flex;
        flex-direction: column;
    }

    .texto {
        flex-direction: column;
        align-items: center;
        width: 92%;
        text-align: center;
    }
    
    .illustrations {
        width: calc(100vw - 50%);
        margin-bottom: 5em;
    }

    .img_top-grow {
        background-image: url('../images/bg-section-top-mobile-1.svg');
    }

    .img_top-your {
        background-image: url('../images/bg-section-top-mobile-2.svg');
    }

    .img_top {
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 40%;
        position: absolute;
        left: 0%;
        bottom: 100%;
    }

    .img_bottom-grow {
        background-image: url('../images/bg-section-bottom-mobile-1.svg');
    }
    
    .img_bottom-your {
        background-image: url('../images/bg-section-bottom-mobile-2.svg');
    }
    
    .img_bottom {
        background-repeat: no-repeat;
        background-size: contain;
        width: 100%;
        height: 40%;
        position: absolute;
        left: 0%;
        top: 100%;
    }

    .ready-to-build {
        margin-bottom: 10em;
    }

    .ready-to-build_titulo {
        width: 80%;
        text-align: center;
    }

    .rodape .img_top {
        background-image: url('../images/bg-footer-top-mobile.svg');
        background-repeat: no-repeat;
        position: absolute;
        background-size: cover;
        height: 10%;
        left: 0%;
        bottom: 100%;
    }

    .rodape .informacoes {
        flex-direction: column-reverse;
        padding: 0 2em;
    }

    .rodape_logo .icon_messages {
        width: 10%;
    }

    .rodape_logo .rodape_titulo {
        font-size: 2em;
    }

    .rodape_paragrafo {
        font-size: small;
        font-weight: 400;
        line-height: 25px;
    }

    .newsletter {
        width: 100%;
        margin-bottom: 6em;
    }

    .newsletter_form {
        display: flex;
        flex-direction: column;
    }

    .newsletter_form .email {
        width: 100%;
        margin-bottom: 12px;
    }

    .newsletter .newsletter_botao {
        align-self: flex-end;
        width: 50%;
    }
}

@media screen and (min-width: 500px) and (max-width: 767px) {
    .paragrafo {
        width: 380px;
    }

    .rodape .informacoes {
        display: flex;
        align-items: center;
    }

    .rodape_logo .icon_messages {
        width: 15%;
    }

    .newsletter_form {
        width: 80%;
    }

    .newsletter_form .email {
        width: 100%;
        margin-bottom: 12px;
    }

    .newsletter .newsletter_botao {
        align-self: flex-end;
        width: 50%;
    }
}

@media screen and (min-width: 600px) and (max-width: 767px) {
    .newsletter {
        width: 60%;
    }

    .newsletter_form {
        width: 100%;
    }

    .newsletter_form .email {
        width: 100%;
    }
}

@media screen and (min-width: 500px) and (max-width: 600px) {
    .newsletter {
        width: 80%;
    }

    .newsletter_form {
        width: 100%;
    }

    .newsletter_form .email {
        width: 100%;
    }
}