.cabecalho {
    display: flex;
    justify-content: space-between;
    padding: 3em 4em 0;
    margin-bottom: 100px;
}

.cabecalho_logo {
    width: 10em;
}

.cabecalho_button {
    background-color: white;
    font-weight: bold;
    color: var(--pink);
    padding: 5px 15px;
    border-color: var(--pink);
    border-radius: 15px;
    cursor: pointer;
}

.cabecalho a {
    color: var(--pink);
}