:root {
    /* Primary */
    --pink: hsl(322, 100%, 66%);
    --Light-Pink: hsl(321, 100%, 78%);
    --Light-Red: hsl(0, 100%, 63%);
    /* Neutral */
    --Very-Dark-Cyan: hsl(192, 100%, 9%);
    --Very-Pale-Blue: hsl(207, 100%, 98%);
    /* Typography */
    --cabecalho: 'Poppins';
    --corpo: 'Open Sans';
}

.call-to-action {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.call-to-action_titulo {
    font-family: var(--cabecalho);
    font-weight: 700;
    font-size: 2.9em;
}

.call-to-action_paragrafo {
    color: var(--Very-Dark-Cyan);
    font-weight: 600;
    text-align: center;
    margin: 1em 0 2.5em;
}

.call-to-action_button {
    text-align: center;
    width: 20em;
    border-radius: 40px;
    border-color: var(--pink);
    color: white;
    background-color: var(--pink);
    padding: 20px 20px;
    margin-bottom: 8em;
    font-weight: 700;
    font-family: var(--corpo);
    box-shadow: 1px 4px 4px 1px hsl(0deg 0% 0% / 28%);
}

.call-to-action_imagem {
    margin-bottom: 5em;
}

.call-to-action_engajamento {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.communities-formed, .call-to-action_messages-sent {
    display: flex;
    flex-direction: column;
}

.engagement-icon {
    width: 2em;
}

.number_engagement {
    font-size: 3.5em;
    font-weight: 700;
}

.descricao_number {
    text-align: center;
}

