.img_top-grow {
    background-image: url(/huddle-landing-page-with-curved-sections-master/images/bg-section-top-desktop-1.svg);
    background-repeat: no-repeat;
}

.img_bottom-grow {
    background-image: url(/huddle-landing-page-with-curved-sections-master/images/bg-section-bottom-desktop-1.svg);
    background-repeat: no-repeat;
}