.ready-to-build {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ready-to-build_titulo {
    font-family: var(--cabecalho);
    font-weight: 700;
    margin-bottom: 20px;
}
