.img_top-your {
    background-image: url(/huddle-landing-page-with-curved-sections-master/images/bg-section-top-desktop-2.svg);
    background-repeat: no-repeat;
}

.img_bottom-your {
    background-image: url(/huddle-landing-page-with-curved-sections-master/images/bg-section-bottom-desktop-2.svg);
    background-repeat: no-repeat;
}